<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aaa.national.johannmg.hedgehogandroid" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HedgehogStart"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HedgehogListMenu"
            android:label="@string/title_activity_hedgehog_list_menu" >
        </activity>
        <activity
            android:name=".DayNight"
            android:label="@string/title_activity_day_night" >
        </activity>
        <activity
            android:name=".DayNightOptions"
            android:label="@string/title_activity_day_night_options" >
        </activity>
    </application>

</manifest>
